#!/bin/sh
alias ls="ls -G --color"
alias ll="ls -lh --color"
alias la="ls -alh"
alias aptinstall="sudo apt-get install --no-install-recommends"

alias vim="nvim"
alias vi="nvim"
alias lg="lazygit"
alias svim="sudo -E nvim"
alias load-ssh="cat ~/.ssh/config.d/* > ~/.ssh/config"
alias load-zshrc="source ~/.zshrc"
alias batman="bat -l man -p"
alias batjson="jq . | bat -l json"
alias kctx="kubectx"
alias awsctx="source ~/.scripts/awsctx"
alias gssh="gcloud compute ssh --tunnel-through-iap"
alias gscp="gcloud compute scp --tunnel-through-iap"

# fast terraform plan
alias tfp='TF_CLI_ARGS_plan="-compact-warnings" terraform plan -lock=false -refresh=false'

# Kubectl
alias k='kubectl'
alias sk='kubectl -n kube-system'

alias kgp='kubectl get pods'
alias kgs='kubectl get svc'
alias kgd='kubectl get deployment'
alias kaf='kubectl apply -f'
alias kghr='kubectl get hr'
alias kgk="kubectl get kustomizations.kustomize.toolkit.fluxcd.io"
